<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.destinyed.statussaverpro">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/status_pro"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/status_pro"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".News.NewsRead"
            android:configChanges="screenSize|orientation|uiMode">

        </activity>
        <activity
            android:name=".showImageAndVideo.ImageSavedFullScreen"
            android:configChanges="screenSize|orientation|uiMode" />
        <activity
            android:name=".showImageAndVideo.videoSavedFullScreen"
            android:configChanges="screenSize|orientation|uiMode" />

        <activity
            android:name=".splashScreen_and_Settings_utils.Splash"
            android:configChanges="screenSize|orientation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".showImageAndVideo.videoFullScreen"
            android:configChanges="screenSize|orientation|uiMode" />
        <activity
            android:name=".showImageAndVideo.ImageFullScreen"
            android:configChanges="screenSize|orientation|uiMode" />
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/App_Id" />
    </application>

</manifest>